* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Arima';
}

header {
  background-color: #dedede;
  padding: 14px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-container a {
  text-decoration: none;
  color: black;
}

.nav-container a:hover {
  text-decoration: underline;
}

.banner-image {
  background-image: url('../img/mount-fuji.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-image h1 {
  text-align: center;
  color: aliceblue;
}

.banner-image h2 {
  text-align: center;
  color: aliceblue;
}

.introduction-container {
  background-color: #dedede;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.introduction-container p {
  width: 70%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.introduction-container img {
  border-color: aliceblue;
  border-width: 5px;
  border-style: solid;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.icons-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icons-hover {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.icons-hover:hover {
  transform: scale(1.2);
  color: #a00e0e;
}

main h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.osaka-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.osaka-container p {
  width: 70%;
  text-align: center;
  font-size: 16px;
}

.osaka-container img {
  width: 70%;
  margin-bottom: 20px;
}

.itomori-container-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.itomori-container {
  display: none;
}

.itomori-container-mobile p {
  width: 70%;
  text-align: center;
  font-size: 16px;
}

.itomori-container-mobile img {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.kumano-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.kumano-container p {
  width: 70%;
  text-align: center;
  font-size: 16px;
}

.kumano-container img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

#gallery-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.gallery-container {
  background-color: #dedede;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gallery-container img {
  border-color: aliceblue;
  border-width: 5px;
  border-style: solid;
  transition: 0.3s ease;
}

.gallery-container img:hover {
  transform: scale(1.2);
}

footer p {
  font-size: 12px;
}

.footer-container {
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer-container h4,
.footer-container h5,
.footer-container p {
  text-align: center;
}

.button-up {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #a00e0e;
  background-color: #a00e0e;
  position: fixed;
  right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  bottom: 50px;
  transition: 0.3s ease;
  cursor: pointer;
}

#button-hover {
  color: aliceblue;
  font-size: 16px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .introduction-container p {
    width: 70%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .introduction-container img {
    border-color: aliceblue;
    border-width: 5px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
  }

  .icons-hover {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
  }

  .osaka-container p {
    width: 70%;
    text-align: center;
    font-size: 16px;
  }

  .osaka-container img {
    width: 70%;
    margin-bottom: 20px;
  }

  .itomori-container {
    display: none;
  }

  .itomori-container-mobile p {
    width: 70%;
    text-align: center;
    font-size: 16px;
  }

  .itomori-container-mobile img {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .kumano-container p {
    width: 70%;
    text-align: center;
    font-size: 16px;
  }

  .kumano-container img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
  }

  .button-up {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #a00e0e;
    background-color: #a00e0e;
    position: fixed;
    right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    bottom: 50px;
    transition: 0.3s ease;
    cursor: pointer;
  }

  #button-hover {
    color: aliceblue;
    font-size: 16px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .introduction-container p {
    width: 50%;
    text-align: center;
    margin-left: 20px;
    font-size: 16px;
  }

  .introduction-container img {
    border-color: aliceblue;
    border-width: 5px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .icons-hover {
    width: 75px;
    height: 75px;
    transition: transform 0.3s ease;
  }

  .osaka-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }

  .osaka-container img {
    width: 40%;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .itomori-container-mobile {
    display: none;
  }

  .itomori-container {
    display: block;
  }

  .itomori-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .itomori-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }

  .itomori-container img {
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
  }

  .kumano-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }

  .kumano-container img {
    width: 40%;
    margin-right: 20px;
  }

  .button-up {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #a00e0e;
    background-color: #a00e0e;
    position: fixed;
    right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    bottom: 50px;
    transition: 0.3s ease;
    cursor: pointer;
  }

  #button-hover {
    color: aliceblue;
    font-size: 16px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .introduction-container p {
    width: 50%;
    text-align: center;
    margin-left: 20px;
    font-size: 16px;
  }

  .introduction-container img {
    border-color: aliceblue;
    border-width: 5px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
  }

  .icons-hover {
    width: 75px;
    height: 75px;
    transition: transform 0.3s ease;
  }

  .osaka-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }

  .osaka-container img {
    width: 40%;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .itomori-container-mobile {
    display: none;
  }

  .itomori-container {
    display: block;
  }

  .itomori-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .itomori-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }

  .itomori-container img {
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
  }

  .kumano-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }

  .kumano-container img {
    width: 40%;
    margin-right: 20px;
  }

  .button-up {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #a00e0e;
    background-color: #a00e0e;
    position: fixed;
    right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    bottom: 50px;
    transition: 0.3s ease;
    cursor: pointer;
  }

  #button-hover {
    color: aliceblue;
    font-size: 16px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-around;
  }
}