* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Arima';
}

header {
  background-color: #dedede;
  padding: 14px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.nav-container a {
  text-decoration: none;
  color: black;
}

.nav-container a:hover {
  text-decoration: underline;
}

.banner-image {
  background-image: url('../img/mount-fuji.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-image h1 {
  text-align: center;
  color: aliceblue;
}

.banner-image h2 {
  text-align: center;
  color: aliceblue;
}

.introduction-container {
  background-color: #dedede;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.introduction-container p {
  width: 60%;
  text-align: center;
  margin-right: 20px;
  font-size: 11px;
}

.introduction-container img {
  border-color: aliceblue;
  border-width: 5px;
  border-style: solid;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
}

.icons-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icons-hover {
  width: 50px;
  height: 50px;
}

.icons-hover:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  color: #a00e0e;
}

main h2 {
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.osaka-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.osaka-container p {
  width: 50%;
  text-align: center;
  font-size: 10px;
}

.osaka-container img {
  margin-bottom: 20px;
  width: 40%;
  margin-right: 10px;
}

.itomori-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.itomori-container p {
  width: 50%;
  text-align: center;
  font-size: 10px;
  margin-right: 10px;
}

.itomori-container img {
  margin-bottom: 20px;
  width: 40%;
  margin-top: 10px;
}

.kumano-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.kumano-container p {
  width: 50%;
  text-align: center;
  margin-left: 10px;
  font-size: 10px;
  margin-bottom: 20px;
}

.kumano-container img {
  margin-bottom: 20px;
  width: 40%;
}

#gallery-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.gallery-container {
  background-color: #dedede;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gallery-container img {
  border-color: aliceblue;
  border-width: 5px;
  border-style: solid;
}

footer p {
  font-size: 12px;
}

#footer-title {
  margin-bottom: 10px;
}

.footer-container {
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .introduction-container p {
    width: 50%;
    text-align: center;
    margin-right: 20px;
    font-size: 16px;
  }
  
  .introduction-container img {
    border-color: aliceblue;
    border-width: 5px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .icons-hover {
    width: 75px;
    height: 75px;
  }

  main h2 {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
  }

  .osaka-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }
  
  .osaka-container img {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 40%;
  }

  .itomori-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }
  
  .itomori-container img {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 40%;
  }

  .kumano-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }
  
  .kumano-container img {
    margin-right: 10px;
    width: 40%;
  }

  footer p {
    font-size: 12px;
  }
  
  #footer-title {
    margin-bottom: 10px;
  }
  
  .footer-container {
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .introduction-container p {
    width: 50%;
    text-align: center;
    margin-right: 20px;
    font-size: 16px;
  }
  
  .introduction-container img {
    border-color: aliceblue;
    border-width: 5px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
  }

  .icons-hover {
    width: 75px;
    height: 75px;
  }

  main h2 {
    margin-top: 50px;
    margin-left: 124px;
    margin-bottom: 20px;
  }

  .osaka-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }
  
  .osaka-container img {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 30%;
  }

  .itomori-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }
  
  .itomori-container img {
    margin-bottom: 20px;
    margin-left: 10px;
    width: 30%;
  }

  .kumano-container p {
    width: 50%;
    text-align: center;
    font-size: 16px;
  }
  
  .kumano-container img {
    margin-right: 10px;
    width: 30%;
  }

  footer p {
    font-size: 12px;
  }
  
  #footer-title {
    margin-bottom: 10px;
  }
  
  .footer-container {
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}