* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Arima';
}

header {
  background-color: #dedede;
  padding: 14px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-container a {
  text-decoration: none;
  color: black;
}

.nav-container a:hover {
  text-decoration: underline;
}

.banner-image {
  background-image: url('../img/mount-fuji.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-image h1 {
  text-align: center;
  color: aliceblue;
}

.banner-image h2 {
  text-align: center;
  color: aliceblue;
}

.introduction-container {
  background-color: #dedede;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.introduction-container p {
  width: 50%;
  text-align: center;
  margin-right: 20px;
}

.introduction-container img {
  border-color: aliceblue;
  border-width: 5px;
  border-style: solid;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 325px;
}

.icons-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icons-hover:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  color: #a00e0e;
}

main h2 {
  margin-top: 50px;
  margin-left: 124px;
  margin-bottom: 20px;
}

.osaka-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.osaka-container p {
  width: 50%;
  text-align: center;
}

.osaka-container img {
  width: 380px;
  height: 250px;
  margin-bottom: 20px;
}

.itomori-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.itomori-container p {
  width: 50%;
  text-align: center;
  margin-right: 16px;
}

.itomori-container img {
  width: 380px;
  height: 250px;
  margin-bottom: 20px;
}

.kumano-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.kumano-container p {
  width: 50%;
  text-align: center;
  margin-left: 16px;
}

.kumano-container img {
  width: 380px;
  height: 250px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#gallery {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.gallery-container {
  background-color: #dedede;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  border-color: aliceblue;
  border-width: 5px;
  border-style: solid;
}